$base: #EFEFEF;
$text: #363636;

$pastel-1: #ABDEE6;
$pastel-2: #91F3D2;
$pastel-3: #A4F9B5;
$pastel-4: #C9FB92;
$pastel-5: #F9F871;
$pastel-6: #FFC8A2;
$pastel-7: #E6A4A0;
$pastel-8: #E8B6EA;
$pastel-9: #BD889D;
$pastel-10: #A2E1DB;
