$base: #EFEFEF;
$text: #363636;

$pastel-1: #ABDEE6;
$pastel-2: #CBAACB;
$pastel-3: #FFFFB5;
$pastel-4: #FFCCB6;
$pastel-5: #FFAEA5;
$pastel-6: #FFC8A2;
$pastel-7: #CCE2CB;
$pastel-8: #97C1A9;
$pastel-9: #FFDBCC;
$pastel-10: #A2E1DB;
